.modal {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0 19px 0 19px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  transition-delay: 0.1s;
  opacity: 1;
}

.modal__container {
  padding: 36px 36px 36px 36px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  max-width: 358px;
  width: 100%;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 25px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 29px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.modal__close-button {
  background-image: url("../images/close-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  padding: 0;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__save-button {
  background-color: #000;
  color: #fff;
  height: 50px;
  margin-top: 48px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__container-image {
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: auto;
  max-width: 75vh;
  max-height: 75vh;
  display: flex;
  background-color: transparent;
}

.modal__preview-caption {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  top: calc(100% + 10px);
}

.modal__preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.modal__close-button-image {
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

@media screen and (max-width: 780px) {
  .modal__close-button-image {
    bottom: calc(100% + 5px);
    left: calc(100% - 35px);
  }
}

@media screen and (max-width: 580px) {
  .modal__close-button {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 25px);
    left: calc(100% - 20px);
  }
  .modal__close-button-image {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% - 35px);
  }
}

@media screen and (max-width: 500px) {
  .modal__container {
    padding: 25px 22px 25px 22px;
    max-width: 282px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 47px;
  }

  .modal__input {
    padding-bottom: 9px;
  }
  .modal__close-button {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 25px);
    left: calc(100% - 25px);
  }

  .modal__save-button {
    font-size: 14px;
    margin-top: 46px;
  }

  .modal__container-image {
    margin: 0;
    padding: 0;
  }

  .modal__close-button-image {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }
}
