@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
  .profile__info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
  }

  .profile__icon {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
  }

  .profile__description {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 53px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

  .profile__add-button:hover {
    opacity: 1;
    cursor: none;
  }

  .profile__edit-button:hover {
    opacity: 1;
    cursor: none;
  }
}
